fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
pydantic
requests
qdrant-client
ollama
python-multipart
aiofiles
pillow
pytesseract
opencv-python-headless

PyMuPDF
pymupdf
pillow
fastembed
